<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

<h2>Vet</h2>
<form th:object="${vet}" class="form-horizontal" id="add-vet-form" method="post">
  <div class="form-group has-feedback">
    <input
      th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}"/>
    <input
      th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}"/>

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
        th:with="text=${vet['new']} ? 'Add Vet' : 'Update Vet'"
        class="btn btn-primary" type="submit" th:text="${text}">Add
        Vet
      </button>
    </div>
  </div>
</form>
</body>
</html>
