<!DOCTYPE html>

<html ng-app="petClinicApp" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>

    <title>PetClinic :: a Spring Framework demonstration</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/petclinic.css}"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{/angular/angular.min.js}"></script>
    <script th:src="@{/angular-route/angular-route.min.js}"></script>

    <script th:src="@{/scripts/app.js}"></script>
    <script th:src="@{/scripts/owner-list/owner-list.component.js}"></script>
    <script th:src="@{/scripts/owner-details/owner-details.component.js}"></script>
    <script th:src="@{/scripts/owner-form/owner-form.component.js}"></script>
    <script th:src="@{/scripts/pet-form/pet-form.component.js}"></script>
    <script th:src="@{/scripts/visits/visits.component.js}"></script>
    <script th:src="@{/scripts/vet-list/vet-list.component.js}"></script>

</head>

<body class="container">
<layout-nav></layout-nav>
<div class="container-fluid">
    <div class="container xd-container">
        <div ng-view=""></div>
    </div>
</div>
<layout-footer></layout-footer>
</body>

</html>
