target/
!**/src/main/**/target/
!**/src/test/**/target/

.git/
.gitignore
.gitattributes
.github/

.mvn/repository/
.mvn/.develocity/
.mvn/.gradle-enterprise/
mvnw.cmd

build.gradle
settings.gradle
gradlew
gradlew.bat
gradle/
.gradle/
build/

Dockerfile
.dockerignore
docker-compose.yml

*.md
LICENSE.txt

.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated/
.sts4-cache/
.springBeans
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
nbproject/
.editorconfig

.DS_Store
Thumbs.db
*.swp
*~
