target/*
petclinic-application/target/*
/petclinic-containers/src/main/resources/petclinic.jar
.settings/*
.classpath
.editorconfig
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
