stages:
  - checkstyle
  - test
  - build
  - docker

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  IMAGE_MR: "$CI_REGISTRY_IMAGE/mr:$CI_COMMIT_SHORT_SHA"

checkstyle:
  stage: checkstyle
  image: maven:3.8.5-openjdk-17
  script:
    - mvn checkstyle:checkstyle -Dcheckstyle.failOnViolation=false
  artifacts:
    when: always
    paths:
      - target/checkstyle-result.xml
  only:
    - merge_requests

test:
  stage: test
  image: maven:3.8.5-openjdk-17
  script:
    - mvn test
  only:
    - merge_requests

build:
  stage: build
  image: maven:3.8.5-openjdk-17
  script:
    - mvn package -DskipTests
  artifacts:
    paths:
      - target/*.jar
  only:
    - merge_requests

docker-build-mr:
  stage: docker
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -t $IMAGE_MR .
    - docker push $IMAGE_MR
  only:
    - merge_requests