$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 51px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  color: #777;
  padding: 20px 0;

  p {
    margin-bottom: 0;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  height: 620px;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .container {
    height: 100%;
  }

  h1, .h1 {
    font-weight: 600;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
  }

  .form-inline {
    font-size: 0;
  }

  .form-group {
    margin-right: 5px;
  }
}

.jumbotron-headline {
  display: table;
  height: 100%;
  width: 100%;
}

.jumbotron-headline-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Secondary marketing message and call to action */
.jumbotron-secondary {
  height: 500px;

  h2 {
    font-size: 36px;
    font-weight: 400;

    strong {
      fotn-weight: 600;
    }
  }
}

/* Tertiary marketing message and call to action. */
.jumbotron-tertiary {
  height: 400px;

  h1, .h1 {
    margin-top: 0;
  }
}

/* Sections */
.sections {
  border-bottom: 1px solid #e5e5e5;
  padding: 100px 0;

  .thumbnail {
    margin-bottom: 25px;
  }
}

.sections-narrow {
  padding: 40px 0;
}

.section-heading {
  font-size: 40px;
}

.section-desc {
  font-size: 18px;
  margin-bottom: 25px;
}

.nav-tabs-filter {
  margin-bottom: 30px;
}

/* Responsive: Portrait tablets and up */
@media (max-width: 768px) {
  .jumbotron {
    height: auto;
  }
}
