<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pets')}">

<body>

  <h2 th:text="#{petInformation}">Pet Information</h2>

  <div th:if="${message}" class="alert alert-success" id="success-message">
    <span th:text="${message}"></span>
  </div>

  <div th:if="${error}" class="alert alert-danger" id="error-message">
    <span th:text="${error}"></span>
  </div>

  <table class="table table-striped" th:object="${pet}">
    <tr>
      <th th:text="#{name}">Name</th>
      <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
      <th th:text="#{birthDate}">Birth Date</th>
      <td th:text="*{birthDate}"></td>
    </tr>
    <tr>
      <th th:text="#{type}">Type</th>
      <td th:text="*{type}"></td>
    </tr>
	<tr>
	  <th th:text="#{petAttributeTemp}">Temperament</th>
	  <td th:text="*{petAttribute != null ?petAttribute.temperament: 'N/A'}"></td>
	 </tr>
	<tr>
	   <th th:text="#{petAttributeLength}">Length</th>
	   <td th:text="*{petAttribute != null ?petAttribute.length: 'N/A'}"></td>
	</tr>
	<tr>
	   <th th:text="#{petAttributeWeight}">Weight</th>
	   <td th:text="*{petAttribute != null ?petAttribute.weight: 'N/A'}"></td>
	</tr>
	<tr>
	   <th th:text="#{owner}">Owner</th>
	   <td th:text="*{owner.firstName !=null && owner.lastName !=null ? owner.firstName  + ' ' + owner.lastName : 'N/A'}"></td>
    </tr>
    
  </table>

  <br />
  <br />
  
  <script>
    // Function to hide the success and error messages after 3 seconds
    function hideMessages() {
      setTimeout(function () {
        document.getElementById("success-message").style.display = "none";
        document.getElementById("error-message").style.display = "none";
      }, 3000); // 3000 milliseconds (3 seconds)
    }

    // Call the function to hide messages
    hideMessages();
  </script>

</body>


</html>