<section id="pets" class="sections sections-narrow" data-ng-controller="PetController">
  <div class="container">
    <a class="btn btn-primary pull-right" href="#" data-ui-sref="pets">See All Pets <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    <h2 class="sub-header">Pets</h2>
    <div class="row thumbnail-wrapper">
      <div class="col-md-3" ng-repeat="pet in pets | limitTo : 4">
        <div class="thumbnail">
          <img data-ng-src="images/pets/pet{{pet.id % 10 + 1}}.jpg" class="img-circle" alt="Generic placeholder image">
          <div class="caption">
            <h3 class="caption-heading" data-ng-bind="pet.name"></h3>
            <p class="caption-meta">08 August 2012</p>
            <p class="caption-meta"><span class="caption-label" data-ng-bind="pet.type.name"></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>