<section id="vets" class="sections sections-narrow" data-ng-controller="VeterinarianController">
  <div class="container">
    <h2 class="sub-header">Veterinarians</h2>
    <div class="row thumbnail-wrapper">
      <div class="col-md-3" data-ng-repeat="vet in vets | limitTo : 8">
        <div class="thumbnail">
          <img data-ng-src="images/avatars/vet{{vet.id%4 + 1}}.jpg" class="img-circle" alt="Generic placeholder image">
          <div class="caption">
            <h3 class="caption-heading" data-ng-bind="'Dr. ' + vet.firstName + ' ' + vet.lastName"></h3>
            <p class="caption-meta"><span class="glyphicon glyphicon-phone-alt"></span> +6085558763</p>
            <p class="caption-meta"><span class="caption-label" data-ng-repeat="specialty in vet.specialties"><span data-ng-bind="specialty.name">Surgery</span></span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p><a class="btn btn-primary btn-block" data-ui-sref="vets">See All Veterinarians</a></p>
      </div>
    </div>
  </div>
</section>