<!-- Welcome -->
<header class="sections sections-tight sections-light">
  <div class="container">
    <div class="media">
      <div class="pull-right stats stats-md">
        <ul>
          <li>12<span>Vets Around</span></li>
          <li>5<span>Your Tasks</span></li>
          <li>8<span>Appointments</span></li>
        </ul>
      </div>
      <div class="media-body">
        <div class="media">
          <div class="media-left">
            <img src="images/avatar.jpg" class="img-circle img-circle-medium media-object" width="80" height="80">
          </div>
          <div class="media-body">
            <h4 class="h3">Welcome back, John Doe</h4>
            <p>Todays date is <strong>14th February 2014</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>