<!-- Welcome -->
<header class="sections sections-narrow sections-light">
  <div class="container">
    <div class="media media-welcome">
      <div class="media-left">
        <img src="images/avatar.jpg" class="img-circle media-object" width="90" height="90">
      </div>
      <div class="media-body">
        <h4 class="h3">Welcome, John Doe</h4>
        <p>When you’re ready, you may start adding a new <a href="#">pet owner</a> or <a href="#">continue browsing</a>.</p>
      </div>
    </div>
  </div>
</header>
