<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>

    <h2 th:text="#{owners}">Owners</h2>

    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;" th:text="#{name}">Name</th>
            <th style="width: 200px;" th:text="#{address}">Address</th>
            <th th:text="#{city}">City</th>
            <th style="width: 120px" th:text="#{telephone}">Telephone</th>
            <th th:text="#{pets}">Pets</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="owner : ${selections}">
              <td>
                  <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
              </td>
              <td th:text="${owner.address}"/>
              <td th:text="${owner.city}"/>
              <td th:text="${owner.telephone}"/>
              <td><span th:each="pet,iterPet : ${owner.pets}" th:text="!${iterPet.last} ? ${pet.name} + ', ':${pet.name} "></span></td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
