    <h2>Find Ownersss</h2>
    <form class="form-horizontal" ng-controller="ownerSearchController">
        <fieldset>
            <div class="control-group" id="lastName">
                <label class="control-label">Last name </label>
                <input ng-model="ownerSearchForm.lastName" size="30" maxlength="80"/>
            </div>
            <div class="form-actions">
                <button type="submit" ng-click="submitOwnerSearchForm()">Find Ownerss</button>
            </div>
        </fieldset>
    </form>

    <br/>
    <a href="/owners/new">Add Ownerss</a>
