    <h2>Find Owners</h2>
    <form class="form-horizontal" ng-controller="ownerSearchController">
        <fieldset>
            <div class="control-group" id="lastName">
                <label class="control-label">Last name </label>
                <input ng-model="ownerSearchForm.lastName" size="30" maxlength="80"/>
            </div>
            <div class="form-actions">
                <button type="submit" ng-click="submitOwnerSearchForm()">Find Owners</button>
            </div>
        </fieldset>
    </form>

    <br/>
    <a ui-sref="app.ownercreate">Add Owners</a>
