<div ng-controller="ownerListController">
      <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Pets</th>
        </tr>
        </thead>

        <tr ng-repeat="owner in ownerList">
            <td>
            	<a ui-sref="app.ownerdetail({id: owner.id})">
            		{{owner.firstName}} {{owner.lastName}}
            	</a>
            </td>
            <td>{{owner.address}} </td>
            <td>{{owner.city}} </td>
            <td>{{owner.telephone}} </td>
            <td><span ng-repeat="pet in owner.pets">{{pet.name + ' '}}</span></td>

        </tr>
    </table>    
</div>
