# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - run: 
        name: pull master
        command: git pull master
      - run: gradle build
      - run:
      name: Assemble JAR
      command: |
        # Skip this for other nodes
        if [ "$CIRCLE_NODE_INDEX" == 0 ]; then
          ./gradlew assemble
        fi

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

  test: 
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run tests
          # Use "./gradlew test" instead if tests are not run in parallel
         command: ./gradlew test
      - run:
        name: Generate code coverage report
        command:
          ./gradlew testReport
      - store_test_results:
        path: build/test-results/test
      

workflows:
  version: 2
  pipeline:
    jobs:
    - build
    - test:
        requires:
          - build

