apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: whatap-apm-secret
  namespace: petclinic-ns
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: whatap-apm-secret
    creationPolicy: Owner
    template:
      type: Opaque
  data:
    - secretKey: WHATAP_LICENSE
      remoteRef:
        key: /finalproj/dev/whatap-apm
        property: license
    - secretKey: WHATAP_SERVER_HOST
      remoteRef:
        key: /finalproj/dev/whatap-apm
        property: server_host
    - secretKey: WHATAP_MICRO_ENABLED
      remoteRef:
        key: /finalproj/dev/whatap-apm
        property: micro_enabled
