<!DOCTYPE html> 

<script>
    $(function () {
        $("#birthDate").datepicker({ dateFormat: 'yy/mm/dd'});
    });
</script>
<div class="container">

    <h2>Pet (work in progress) </h2>
    <form class="form-horizontal" name="petForm" data-ng-controller="petFormController">
    	<fieldset>
	        <div class="control-group" id="owner">
	            <label class="control-label"> Owner </label>
	            {{pet.owner.firstName}} {{pet.owner.lastName}}
	        </div>
    		<div class="control-group" id="name">
                <label class="control-label">Name </label>
                <input ng-model="pet.name" name="name" required/>
                <span ng-show="petForm.name.$error.required" class="help-inline"> Name is required.</span>
            </div>
    		<div class="control-group" id="birthDate">
                <label class="control-label">Birth date </label>
                <input ng-model="pet.birthDate" value="{{pet.birthDate | date:'MM/dd/yyyy'}} name="birthDate" required/>
                <span ng-show="petForm.name.$error.required" class="help-inline"> birth date is required.</span>
            </div>


        <div class="control-group">
            <petclinic:selectField name="type" label="Type " names="${types}" size="5"/>
        </div>
        <div class="form-actions">
            <c:choose>
                <c:when test="${pet['new']}">
                    <button type="submit">Add Pet</button>
                </c:when>
                <c:otherwise>
                    <button type="submit">Update Pet</button>
                </c:otherwise>
            </c:choose>
        </div>
        </fieldset>
    </form>
</div>
