<div class="container">

    <h2>Pet</h2>

    <form class="form-horizontal" name="petForm" data-ng-controller="petFormController">
        <div class="form-group">
            <label class="col-sm-2 control-label">Owner</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{pet.owner}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Name </label>
            <div class="col-sm-6">
                <input class="form-control col-sm-4" ng-model="pet.name" name="name" required type="text"/>
                <span ng-show="petForm.name.$error.required" class="help-inline"> Name is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Birth date </label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="pet.birthDate" value="{{pet.birthDate}}" required type="text"/>
                <span ng-show="petForm.name.$error.required" class="help-inline"> birth date is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Type </label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="pet.type.id">
                    <option ng-repeat="x in types" value="{{x.id}}">{{x.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
