
<img src="resources/images/banner-graphic.png" var="banner"/>

<div class="navbar" style="width: 601px;">
    <div class="navbar-inner">
        <ul class="nav">
            <li style="width: 120px;">
            	<a href="#/main"><i class="icon-home"></i> Home</a>
            </li>
            <li style="width: 150px;">
            	<a href="#/owner/search"><i class="icon-search"></i> Find owners</a>
            </li>
            <li style="width: 160px;">
            	<a href="#/vets"><i class="icon-th-list"></i> Veterinarians</a>
            </li>
            <li style="width: 110px;">
            	<a href="oups.html" title="trigger a RuntimeException to see how it is handled">
            	<i class="icon-warning-sign"></i> Error</a>
            </li>
        </ul>
    </div>
</div>
	
