<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'users')}">

<body>

  <h2>Change password</h2>
  <form th:object="${user}" class="form-horizontal" id="add-user-form" method="post">
    <input type="hidden"  th:field="${user.id}" />
    <input type="hidden"  th:field="${user.firstName}" />
    <input type="hidden"  th:field="${user.lastName}" />
    <input type="hidden"  th:field="${user.password}" />
    <input type="hidden"  th:field="${user.matchingPassword}" />
    <input type="hidden"  th:field="${user.enabled}" />
    <input type="hidden"  th:field="${user.accountNonExpired}" />
    <input type="hidden"  th:field="${user.accountNonLocked}" />
    <input type="hidden"  th:field="${user.credentialsNonExpired}" />
    <input type="hidden"  th:field="${user.roles}" />
    <input type="hidden"  th:field="${user.telephone}" />
    <input type="hidden"  th:field="${user.street1}" />
    <input type="hidden"  th:field="${user.street2}" />
    <input type="hidden"  th:field="${user.street3}" />
    <input type="hidden"  th:field="${user.zipCode}" />
    <input type="hidden"  th:field="${user.city}" />
    <input type="hidden"  th:field="${user.country}" />

    <div class="form-group has-feedback">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" th:field="${user.email}" class="form-control input-lg" id="email" readonly>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="oldPassword">Present password</label>
        <input type="password" name="oldPassword" class="form-control input-lg" id="oldPassword" th:placeholder="password" value="">
      </div>
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" name="newPassword"  class="form-control input-lg" id="newPassword" th:placeholder="password" value="">
      </div>
      <div class="form-group">
        <label for="newMatchingPassword">Password</label>
        <input type="password" name="newMatchingPassword" class="form-control input-lg" id="newMatchingPassword" th:placeholder="password" value="">
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="submit">Change password</button>
          <a class="btn btn-default" th:href="@{/}">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</body>
</html>
