[Unit]
Description=spring-petclinic
After=syslog.target

[Service]
User=deploy
ExecStart=/opt/spring-petclinic.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
