<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-tertiary">
  <div class="container">
    <div class="jumbotron-headline">
      <div class="jumbotron-headline-cell">
        <h1>Discover Pet Owners</h1>
        <p>Helping you discover pet owners near you and connect.</p>
        <div class="row">
          <div class="col-md-6 col-md-offset-2">
            <input type="text" class="form-control input-lg" placeholder=".col-md-8">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Featured pets -->
<section id="pets" class="sections">
<div class="container">
  <div class="nav-tabs-filter">
    <a href="#add_owner" role="button" class="btn btn-primary pull-right">Register Now - It's Free!</a>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Newest</a></li>
      <li role="presentation"><a href="#">Popular</a></li>
      <li role="presentation" class="dropdown open">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        Dropdown <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">McFarland</a></li>
        <li><a href="#">Sun Prairie</a></li>
        <li><a href="#">Madison</a></li>
        <li><a href="#">New York</a></li>
        <li><a href="#">Madison</a></li>
      </ul>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a></a>
        <div class="caption">
          <a href="show.html"><a href="show.html"><h3>Thumbnail label</h3></a></a>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a></a>
        <div class="caption">
          <a href="show.html"><a href="show.html"><h3>Thumbnail label</h3></a></a>
          <p>Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a>
        <div class="caption">
          <a href="show.html"><h3>Thumbnail label</h3></a>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a>
        <div class="caption">
          <a href="show.html"><h3>Thumbnail label</h3></a>
          <p>Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a>
        <div class="caption">
          <a href="show.html"><h3>Thumbnail label</h3></a>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a>
        <div class="caption">
          <a href="show.html"><h3>Thumbnail label</h3></a>
          <p>Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a>
        <div class="caption">
          <a href="show.html"><h3>Thumbnail label</h3></a>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="show.html"><img src="http://placehold.it/600x600" alt="Generic placeholder image"></a>
        <div class="caption">
          <a href="show.html"><h3>Thumbnail label</h3></a>
          <p>Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p><a class="btn btn-primary btn-lg btn-block" href="#">Show More »</a></p>
    </div>
  </div>
</div>
</section>

<!-- Make an appointment call to action -->
<section id="appointment" class="jumbotron jumbotron-secondary">
<div class="container">
  <div class="jumbotron-headline">
    <div class="jumbotron-headline-cell">
      <h2>Over 40,000 pet owners trust us. Register now. It's <strong>Free</strong> forever!</h2>
      <p>Use it as a starting point to create something more unique.</p>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="clientName">Your Name</label>
          <input type="text" class="form-control input-lg" id="clientName" placeholder="Your name">
          </div><div class="form-group">
          <label class="sr-only" for="emailAddress">Email Address</label>
          <input type="email" class="form-control input-lg" id="emailAddress" placeholder="Your email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="clientNumber">Contact Number</label>
          <input type="text" class="form-control input-lg" id="clientNumber" placeholder="Your contact number">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Get Started - It's Free!</button>
      </form>
    </div>
  </div>
</div>
</section>

<!-- Contact details -->
<section id="add_owner" class="sections sections-narrow">
<div class="container">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h3>Business Hours</h3>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h3>Our Location</h3>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h3>Questions or comments</h3>
      <p>Cras mattis consectetur purus sit amet fermentum. </p>
      <p>
      <a href="mailto:youremail@yourdomain.com" type="submit" class="btn btn-default">Drop us a line</a>
      </p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
</section>
