<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-tertiary">
  <div class="container">
    <div class="jumbotron-headline">
      <div class="jumbotron-headline-cell">
        <h1>Finding your pet</h1>
        <p>Finding the pets that are currently under our care.</p>
        <div class="row">
          <div class="col-md-6 col-md-offset-2">
            <input id="search" type="text" class="form-control input-lg" placeholder="Scooby Doo">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Featured pets -->
<section id="pets" class="sections">
<div class="container">
  <div class="nav-tabs-filter">
    <a href="#add_owner" role="button" class="btn btn-primary pull-right">Register Now - It's Free!</a>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Newest</a></li>
      <li role="presentation"><a href="#">Popular</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-3" data-ng-repeat="pet in pets | filter:search">
      <div class="thumbnail">
        <a href="#"><img data-ng-src="images/pets/pet{{pet.id % 10 + 1}}.jpg" alt="Generic placeholder image"></a>
        <div class="caption">
          <a href="#"><h3 data-ng-bind="pet.name"></h3></a>
          <p data-ng-bind="pet.type.name"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p><a class="btn btn-primary btn-lg btn-block" href="#">Show More »</a></p>
    </div>
  </div>
</div>
</section>

<!-- Make an appointment call to action -->
<section id="appointment" class="jumbotron jumbotron-secondary">
<div class="container">
  <div class="jumbotron-headline">
    <div class="jumbotron-headline-cell">
      <h2>Over 40,000 pet owners trust us. Register now. It's <strong>Free</strong> forever!</h2>
      <p>Use it as a starting point to create something more unique.</p>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="clientName">Your Name</label>
          <input type="text" class="form-control input-lg" id="clientName" placeholder="Your name">
          </div><div class="form-group">
          <label class="sr-only" for="emailAddress">Email Address</label>
          <input type="email" class="form-control input-lg" id="emailAddress" placeholder="Your email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="clientNumber">Contact Number</label>
          <input type="text" class="form-control input-lg" id="clientNumber" placeholder="Your contact number">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Get Started - It's Free!</button>
      </form>
    </div>
  </div>
</div>
</section>

<!-- Contact details -->
<data-ng-include src="'components/landing/_contact_us.html'"></data-ng-include>
