<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'doctors')}"> 

  <body>
    <h2>Map</h2>
    <p>We are currently curating our Map</p>

    <table id="doctors" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Specialties</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="doctor : ${doctors.doctorList}">
        <td th:text="${doctor.firstName + ' ' + doctor.lastName}"></td>
        <td th:text="${doctor.address}"></td>
        <td th:text="${doctor.city}"></td>
        <td th:text="${doctor.state}"></td>
        <td><span th:each="specialty : ${doctor.specialties}"
          th:text="${specialty.name + ' '}" /> <span
          th:if="${doctor.nrOfSpecialties == 0}">none</span></td>
      </tr>
    </tbody>
  </table>
	<button onclick="displayAddresses()">Click me</button>

	<script type="text/javascript" th:inline="javascript">
		function displayAddresses()
			{
			var dlist = /*[[${doctors.doctorList}]]*/;
			var d = "";
				for (i = 0; i < dlist.length; i++) 
					{
        			d = dlist[i];
        			console.log(d);
   			 		}
   			 }



	</script>



  </body>

</html>