<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.38">
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
   agent any

   stages {
      stage(&apos;Build&apos;) {
         steps {
            // Get some code from a GitHub repository
            git &apos;https://github.com/spring-projects/spring-petclinic.git&apos;

            // Run Maven on a Unix agent.
            sh &quot;./mvnw package&quot;
         }
      }
   }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>