<!-- Footer -->
<footer class="footer">
  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-md-3">
        <h3 class="h5">Company Information</h3>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Updtes</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Services</a></li>
        <ul>
      </div>
      <div class="col-md-3">
        <h3 class="h5">Wanna talk?</h3>
        <ul class="list-unstyled">
          <li>Call us at (203) 420-0234</li>
          <li>Email us to info@petclinic.com</li>
          <li>We respond to emails within one business day. Hours: Mon - Fri from 9am - 7pm ET</li>
        <ul>
      </div>
      <div class="col-md-3">
        <h3 class="h5">Follow Us</h3>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Google Plus</a></li>
        <ul>
      </div>
      <div class="col-md-3">
        <h3 class="h5">Questions or comments</h3>
        <p>Cras mattis consectetur purus sit amet fermentum. </p>
        <p>
          <a href="mailto:youremail@yourdomain.com" type="submit" class="btn btn-primary">Drop us a line</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="colophon">
  <div class="container">
    <p class="pull-left">
      <img src="images/logo-footer.png" class="logo-footer"> © 2015 Pet Clinic, A Spring Framework Demonstration.
    </p>
    <p class="pull-right">Designed by Andrew Abogado. Developed by Tony Nguyen & Lim Han.</p>
  </div>
</div>