<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/petclinic/">
        <img alt="Pet Clinic Brand" height="27" width="auto" src="images/logo.png">
      </a>
      <button class="navbar-toggle navbar-toggle-left collapsed" type="button" data-toggle="collapse" data-target="#nav-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-triangle-bottom"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="nav-menu" class="navbar-collapse navbar-left collapse">
      <ul class="nav navbar-nav navbar-menu" data-ng-if="getSession() != null">
        <li data-ng-class="$state.is('landing') ? 'active' : ''"><a data-ui-sref="landing">Home</a></li>
        <li data-ng-class="$state.is('owners') ? 'active' : ''"><a data-ui-sref="owners">Owners</a></li>
        <li data-ng-class="$state.is('pets') ? 'active' : ''"><a data-ui-sref="pets">Pets</a></li>
        <li data-ng-class="$state.is('vets') ? 'active' : ''"><a data-ui-sref="vets">Vets</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    <ul data-ng-if="getSession() != null" class="nav navbar-profile">
      <li data-ng-if="getSession() != null"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
      <li data-ng-if="getSession() != null"><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle img-profile" data-toggle="dropdown" role="button" aria-expanded="false">
          <img class="img-circle" src="images/avatar.jpg" width="30" height="30">
        </a>
        <ul data-ng-if="getSession() != null" class="dropdown-menu navbar-dropdown-menu">
          <li><a href="#">View Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#" data-ng-click="logout()">Sign Out</a></li>
          <li class="divider"></li>
          <li><a href="#">Help</a></li>
        </ul>
      </li>
    </ul>
    <ul data-ng-if="getSession() == null" class="nav navbar-links pull-right">
       <li>
         <a href="#appointment" class="js-scroll-nav">Get started</a>
       </li>
       <li>
         <a href="#" data-ng-click="login()">Login</a>
       </li>
     </ul>
  </div><!-- /.container-fluid -->
</nav>
