<section id="appointment" class="jumbotron jumbotron-secondary jumbotron-appointment">
  <div class="container">
    <div class="jumbotron-headline">
      <div class="jumbotron-headline-cell">
        <h2>Over 40,000 pet owners trust us.</h2>
        <p>Use it as a starting point to create something more unique.</p>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="clientName">Your Name</label>
            <input type="text" class="form-control input-lg" id="clientName" placeholder="Your name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="emailAddress">Email Address</label>
            <input type="email" class="form-control input-lg" id="emailAddress" placeholder="Your email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="clientNumber">Contact Number</label>
            <input type="text" class="form-control input-lg" id="clientNumber" placeholder="Your contact number">
          </div>
          <button type="submit" class="btn btn-cta">Get an Appointment</button>
        </form>
      </div>
    </div>
  </div>
</section>