<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="jumbotron-headline">
      <div class="jumbotron-headline-cell">
        <h1>Pet care for the People who love them</h1>
        <p>PetClinic is here to enhance people's relationships with their pets</p>
        <p><a class="btn btn-primary btn-lg" data-scroll-to-target href="#services" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
  <video loop="loop" preload="auto" class="jumbotron-video" autoplay muted>
    <source src="videos/hero-bird.mp4" type="video/mp4">
  </video>
</div>