<section id="companies" class="sections sections-narrow">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <p class="section-desc">Trusted by some of the world's smartest companies</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <img src="http://placehold.it/100x40" alt="Companies placeholder image">
      </div>
      <div class="col-lg-2">
        <img src="http://placehold.it/100x40" alt="Companies placeholder image">
      </div>
      <div class="col-lg-2">
        <img src="http://placehold.it/100x40" alt="Companies placeholder image">
      </div>
      <div class="col-lg-2">
        <img src="http://placehold.it/100x40" alt="Companies placeholder image">
      </div>
      <div class="col-lg-2">
        <img src="http://placehold.it/100x40" alt="Companies placeholder image">
      </div>
      <div class="col-lg-2">
        <img src="http://placehold.it/100x40" alt="Companies placeholder image">
      </div>
    </div>
  </div>
</section>