<section id="companies" class="sections sections-numbers">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3">
        <div class="stats-numbers">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <p class="stats-number">1325</p>
          <span class="stats-label">Pet Owners</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="stats-numbers">
          <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
          <p class="stats-number">2325</p>
          <span class="stats-label">Pets</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="stats-numbers">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <p class="stats-number">903</p>
          <span class="stats-label">Pet Visits</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="stats-numbers">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <p class="stats-number">24</p>
          <span class="stats-label">Veterinarians</span>
        </div>
      </div>
    </div>
  </div>
</section>