<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-thumbnail" src="images/services/service1.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-6">
      <h3 class="section-heading">Services One</h3>
      <p class="section-desc">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      <p>
      <a class="btn btn-primary" data-ui-sref="landing">Learn more »</a>
      </p>
    </div>
  </div>
</div>