<!-- Services 1 section -->
<section id="services" class="sections sections-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <img class="img-circle img-circle-auto pull-right" src="images/image-service-1.png" alt="Service 1">
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h3 class="section-heading">Everything you need to manage you clients and their pets</h3>
        <p class="section-desc">PetClinic is everything you need for an effective management. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services 2 section -->
<section id="services2" class="sections sections-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-circle img-circle-auto" src="images/image-service-2.png" alt="Service 2">
      </div>
      <div class="col-md-6">
        <h3 class="section-heading">Customized that’s just right for you </h3>
        <p class="section-desc">Our scalable system is configured to suit your need. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services 3 section -->
<section id="services3" class="sections sections-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <img class="img-circle img-circle-auto pull-right" src="images/image-service-3.png" alt="Service 3">
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h3 class="section-heading">Access anywhere even on-the-go</h3>
        <p class="section-desc">Whether you’re on your desk or on mobile, PetClinic is available wherever you may be. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains.</p>
      </div>
    </div>
  </div>
</section>