<section id="testimonials" class="sections sections-testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3 class="section-heading">Our happy customers say</h3>
        <img class="img-circle img-circle-medium" src="images/veterinarian-default.jpg" alt="Generic placeholder image">
        <h4 class="section-title">Betty Davis, Dogs Associations Inc.</h4>
        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
        <ol class="carousel-indicators carousel-indicators-static">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
      </div>
    </div>
  </div>
</section>