<section id="owners" class="sections">
  <div class="container">
    <h2 class="sub-header">Veterinarians</h2>
    <div class="row thumbnail-wrapper">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="static/dist/images/veterinarian-default.jpg" class="img-circle" alt="Generic placeholder image">
          <div class="caption">
            <h3 class="caption-heading">Helen Leary</h3>
            <p class="caption-meta"><span class="glyphicon glyphicon-phone-alt"></span> +6085558763</p>
            <p class="caption-meta"><span class="caption-label">Surgery</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="static/dist/images/veterinarian-default.jpg" class="img-circle" alt="Generic placeholder image">
          <div class="caption">
            <h3 class="caption-heading">Helen Leary</h3>
            <p class="caption-meta"><span class="glyphicon glyphicon-phone-alt"></span> +6085558763</p>
            <p class="caption-meta"><span class="caption-label">Surgery</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="static/dist/images/veterinarian-default.jpg" class="img-circle" alt="Generic placeholder image">
          <div class="caption">
            <h3 class="caption-heading">Helen Leary</h3>
            <p class="caption-meta"><span class="glyphicon glyphicon-phone-alt"></span> +6085558763</p>
            <p class="caption-meta"><span class="caption-label">Surgery</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="static/dist/images/veterinarian-default.jpg" class="img-circle" alt="Generic placeholder image">
          <div class="caption">
            <h3 class="caption-heading">Helen Leary</h3>
            <p class="caption-meta"><span class="glyphicon glyphicon-phone-alt"></span> +6085558763</p>
            <p class="caption-meta"><span class="caption-label">Surgery</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p><a class="btn btn-default btn-block" href="/vets">See All Veterinarians</a></p>
      </div>
    </div>
  </div>
</section>
