<!-- Featured veterinarians -->
<section class="sections">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <h3 id="veterianarians" class="section-heading">Our awesome veterinarians</h3>
          <p class="section-desc"><strong>Professionalism.</strong> Everyone at our practice is committed to providing you with the very best in pet healthcare. <strong>Expertise.</strong> Our veterinary team bring a wealth of experience to the practice and have individually obtained high standards of professional qualifications. <strong>Dedication.</strong> Our committed team of Veterinarians is dedicated to your pet's welfare and strive to provide the best pet healthcare to them</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet1.jpg" alt="Vet 1" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">James Carter</h3>
            <p class="caption-meta caption-meta-uppercase">Radiology</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet2.jpg" alt="Vet 2" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">Carlos Estaban</h3>
            <p class="caption-meta caption-meta-uppercase">Radiology</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet3.jpg" alt="Vet 3" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">Helen Leary</h3>
            <p class="caption-meta caption-meta-uppercase">Surgery</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet4.jpg" alt="Vet 4" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">Linda Douglas</h3>
            <p class="caption-meta caption-meta-uppercase">Dentistry surgery</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet5.jpg" alt="Vet 5" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">Sharon Jenkins</h3>
            <p class="caption-meta caption-meta-uppercase">Surgery</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet6.jpg" alt="Vet 6" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">Rafael Ortega</h3>
            <p class="caption-meta caption-meta-uppercase">Radiology</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet7.jpg" alt="Vet 7" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">Henry Stevens</h3>
            <p class="caption-meta caption-meta-uppercase">Surgery</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail thumbnail-noborder">
          <img src="images/vets/vet8.jpg" alt="Vet 8" class="img-circle">
          <div class="caption">
            <h3 class="caption-heading">Jenkins Helen</h3>
            <p class="caption-meta caption-meta-uppercase">Radiology</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>