<!-- Welcome -->
<data-ng-include src="'components/landing/_banner.html'"></data-ng-include>

<!-- Companies -->
<data-ng-include src="'components/landing/_companies.html'"></data-ng-include>

<!-- Pets -->
<data-ng-include src="'components/landing/_services.html'"></data-ng-include>

<!-- Owners -->
<data-ng-include src="'components/landing/_vets.html'"></data-ng-include>

<!-- Testimonials -->
<data-ng-include src="'components/landing/_testimonials.html'"></data-ng-include>

<!-- Numbers -->
<data-ng-include src="'components/landing/_numbers.html'"></data-ng-include>

<!-- Appointment -->
<data-ng-include src="'components/landing/_appointment.html'"></data-ng-include>