<section id="add_owner" class="sections sections-narrow">
	<div class="container">
	  <!-- Three columns of text below the carousel -->
	  <div class="row">
	    <div class="col-lg-4">
	      <h3>Business Hours</h3>
	      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	    </div><!-- /.col-lg-4 -->
	    <div class="col-lg-4">
	      <h3>Our Location</h3>
	      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
	    </div><!-- /.col-lg-4 -->
	    <div class="col-lg-4">
	      <h3>Questions or comments</h3>
	      <p>Cras mattis consectetur purus sit amet fermentum. </p>
	      <p>
	      <a href="mailto:youremail@yourdomain.com" type="submit" class="btn btn-default">Drop us a line</a>
	      </p>
	    </div><!-- /.col-lg-4 -->
	  </div><!-- /.row -->
	</div>
</section>