<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="jumbotron-headline">
      <div class="jumbotron-headline-cell">
        <h1>Pet Clinic <br> A Spring Framework Demonstration</h1>
        <p>A place to see your neighborhood pet owners</p>
        <p><a class="btn btn-primary btn-lg" data-ui-sref="home.owners" role="button">Get started - It's Free!</a></p>
      </div>
    </div>
  </div>
</div>

<data-ui-view></data-ui-view>

<data-ng-include src="'components/main/_services.html'"></data-ng-include>

<!-- Testimonials -->
<data-ng-include src="'components/main/_testimonials.html'"></data-ng-include>

<!-- Companies -->
<data-ng-include src="'components/main/_companies.html'"></data-ng-include>

<!-- Make an appointment call to action -->
<data-ng-include src="'components/main/_appointment.html'"></data-ng-include>

<!-- Add Owner / Register -->
<data-ng-include src="'components/main/_add_owner.html'"></data-ng-include>

