<!-- Featured veterinarians -->
<section id="veterinarians" class="sections">
	<div class="container">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">
	      <div class="text-center">
	        <h3 class="section-heading">Our Veterinarians</h3>
	        <p class="section-desc">We provide the best medical expertise and care for your fur kids!</p>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div data-ng-repeat="vet in vets | limitTo : 12" class="col-md-3">
	      <div class="thumbnail">
	        <img src="http://placehold.it/600x600" alt="Generic placeholder image">
	        <div class="caption">
	          <h3 data-ng-bind="'Dr. ' + vet.firstName + ' ' + vet.lastName">Veterinarian Name</h3>
	          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4">
	      <p><a class="btn btn-primary btn-lg btn-block" href="/veterinarians">View More »</a></p>
	    </div>
	  </div>
	</div>
</section>