<section id="veterinarians" class="sections sections-narrow">
	<div class="container">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">
	      <div class="text-center">
	        <h3>Our Veterinarians</h3>
	        <p class="section-desc">We provide the best medical expertise and care for your fur kids!</p>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div data-ng-repeat="vet in vets | limitTo : 12" class="col-md-3">
	      <div class="thumbnail">
	        <img data-ng-src="images/vets/vet{{vet.id}}.jpg" alt="Generic placeholder image" class="img-circle">
	        <div class="caption">
	          <h3 class="caption-heading" data-ng-bind="'Dr. ' + vet.firstName + ' ' + vet.lastName">Veterinarian Name</h3>
	          <p data-ng-bind="vet.description | limitTo: 100"></p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</section>