# This is a basic workflow to help you get started with Actions

name: CD

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
  # Run CI workflow before
  workflow_run:
    workflows: ["CI build"]
    types:
      - completed

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  store-artifactory:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2.3.0
        with:
          java-version: '16'
          distribution: 'adopt'
          cache: 'maven'
      - uses: jfrog/setup-jfrog-cli@v2
        env:
          JF_ARTIFACTORY_1: ${{ secrets.ARTIFACTORY_TOKEN }}

      # Runs a single command using the runners shell
      - name: Build Maven package
        run: mvn -Dmaven.test.skip=true -B package --file pom.xml
      - name: Store on Artifactory
        run: |
          jfrog rt ping
          jfrog rt u target/spring-petclinic-2.5.0-SNAPSHOT.jar "default-maven-local/petclinic/petclinic-2.5.0-SNAPSHOT.jar" --flat=true
