---
name: manual ci for maven-release
on:
    pull_request:
        branches:
            - main
jobs:
    manual:
        runs-on: ububtu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-java@v5
              with:
                  distribution: 'temurin'
                  java-version: '21'
            - name: Build with Maven
              run: mvn clan package
            
            