name: petclinic-ci-pipeline

on: 
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  checkout-validate:
    name: Checkout code & Validate Maven Setup
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      
      - name: Validate project structure
        run: |
           ./mvnw validate --batch-mode --no-transfer-progress
      
      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'

  security-scanning-testing:
    name: Security scanning and testing
    runs-on: ubuntu-latest
    needs: checkout-validate

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Setup Java ${{ matrix.java-version }}
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'maven'
        
    - name: Cache Maven Wrapper
      uses: actions/cache@v4
      with:
        path: ~/.m2/wrapper
        key: ${{ runner.os }}-maven-wrapper-${{ hashFiles('.mvn/wrapper/maven-wrapper.properties') }}
        restore-keys: |
            ${{ runner.os }}-maven-wrapper-

    - name: Install Dependencies mvn wrapper
      run: |
          ./mvnw dependency:go-offline --batch-mode --no-transfer-progress

    - name: Build Application with Maven Wrapper
      run: |
        ./mvnw clean compile


    - name: Run Unit Tests
      run: |
        ./mvnw test
        
    - name: Generate Test Coverage Report
      run: |
        ./mvnw jacoco:report

    - name: Build JAR Package
      run: |
        ./mvnw package -DskipTests

  docker-stage:
    name: Docker stage to build docker image
    runs-on: ubuntu-latest
    needs: [checkout-validate,security-scanning-testing ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Save Docker image tag
        run: echo "${GITHUB_SHA::8}" > image_sha.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image-info
          path: image_sha.txt

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/petclinic-app:${{ github.sha }}
  filter:
    runs-on: ubuntu-latest
    outputs:
      terraform: ${{ steps.filter.outputs.terraform }}
    steps:
      - uses: actions/checkout@v3
      - name: Filter changes
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            terraform:
              - 'terraform/**'

  infra-terraform-steps:
    needs: [checkout-validate,security-scanning-testing, docker-stage, filter ]
    if: ${{ needs.filter.outputs.terraform == 'true' }}
    runs-on: ubuntu-ubuntu-latest
    steps:
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        id: init
        run: terraform init -input=false
      
      - name: Select or create workspace
        run: |
          WORKSPACE=dev
          # Check if workspace exists
          if terraform workspace list | grep -q "^${WORKSPACE}$"; then
            echo "Workspace ${WORKSPACE} exists. Selecting..."
            terraform workspace select $WORKSPACE
          else
            echo "Workspace ${WORKSPACE} does not exist. Creating..."
            terraform workspace new $WORKSPACE
          fi

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: false

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve
        continue-on-error: false     
      
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.PAT }}
          commit-message: PROD-${{ github.event.head_commit.message }}
          committer: $GITHUB_ACTOR <${{ github.event.pusher.email }}>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: main
          delete-branch: true
          title: 'PROD-PR-${{ github.event.head_commit.message }}'
          body: |
            Update report
            - Updated with *today's* date
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: |
            report
            automated pr
          assignees: ajit
          reviewers: ajit