# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2.3.0
        with:
          java-version: '16'
          distribution: 'adopt'
          cache: 'maven'

      # Runs a single command using the runners shell
      - name: Build with maven
        run: mvn -Dmaven.test.skip=true -B package --file pom.xml
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2.3.0
        with:
          java-version: '16'
          distribution: 'adopt'
          cache: 'maven'
      - name: Test with maven
        run: mvn -B test --file pom.xml
  launch-ready:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2.3.0
        with:
          java-version: '16'
          distribution: 'adopt'
          cache: 'maven'
      - name: Build with maven
        run: mvn -Dmaven.test.skip=true -B package --file pom.xml
      - name: Launch java jar
        run: test -f target/spring-petclinic-2.6.0-SNAPSHOT.jar
