name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4 
      with:
        distribution: 'adopt'
        java-version: '17'
    
    - name: Install Dependencies
      run: mvn dependency:resolve

    - name: Build with Maven
      run: mvn clean install
      
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4 
      with:
        name: build-artifacts
        path: target/**

    - name: Run Unit Tests
      run: mvn test

    - name: Run Unit Tests and Generate Coverage
      run: mvn test jacoco:report
    
    - name: Upload Test Reports
      uses: actions/upload-artifact@v4 
      with:
        name: test-reports
        path: target/surefire-reports/**

    - name: Upload Code Coverage Report
      uses: actions/upload-artifact@v4 
      with:
        name: code-coverage-report
        path: target/site/jacoco/**
