name: Docker Image CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        ./mvnw package
        docker build . -f Dockerfile -t spring-petclinic
