# This Github workflow will run jobs to build java-app.
name: spring-petclinic

on:
  push:
    branches:
      [ main ]
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
  workflow_dispatch:
permissions:
  pull-requests: write

jobs:
  minimal:
    uses: ploigos/ploigos-github-workflows/.github/workflows/minimal.yaml@petclinic
    secrets: inherit
