# This is a basic workflow to help you get started with Actions

name: FirstPipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the $default-branch branch
  push:
    branches: [ "develop" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  my_first_job:
    name: Checkout
  # This workflow contains a single job called "Checkout"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        name: Checkout repository
        
      # This job calls the build pipeline from local workflows directory
        if: ${{ success() }}
      - run: echo "Job succeeded"
        shell: bash
      - uses: ./.github/workflows/build.yml
        name: 'Call build workflow'

        # If failed 
        if: ${{ !success() }}
      - run: echo "Job failed"
        shell: bash