name: Java CI/CD with Maven and Azure Spring Apps

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  ASC_PACKAGE_PATH: ${{ github.workspace }}
  AZURE_SUBSCRIPTION_ID: 'cfe96ac1-4cd0-40ad-9751-b18802bf8822'
  
  DEV_KEY_VAULT_NAME: 'kvossonazurejavaspringde'
  DEV_APP_NAME: 'pet-clinic-1'
  DEV_APP_SERVICE: 'ossonazure-javaspring-host-dev'

jobs:
  build_test_and_package:
    runs-on: ubuntu-latest
    
    name: Build, Test, and Package application for deployment
    
    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v2

      - uses: actions/setup-java@v3
        name: 'Set JDK version'
        with:
          distribution: 'microsoft'
          java-version: '17'
          
      - name: Run Maven clean and package (build)
        run: |
          mvn clean package -DskipTests
          
      - name: Run the tests via Maven
        run: |
          mvn test
          
      - name: Publish test results
        uses: ScaCap/action-surefire-report@v1.0.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: pet-clinic
          path: ${{ github.workspace }}/target/*.jar
          if-no-files-found: error
          
  deploy_to_dev:
    runs-on: ubuntu-latest
    
    name: Deploy to Dev environment
    
    # Only run on pushes to the "main" branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    
    needs: [build_test_and_package]
    
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v3.0.1
        with:
          name: pet-clinic

      - name: Login via Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.SP_GITHUBACTIONS_WORKFLOW_PETCLINIC_APP_DEV_RESOURCE_GROUP }}
          
      - name: Retrive values from Azure Key Vault
        run: |
          # Get the values from Azure Key Vault and store in environment variables
          export POSTGRES_URL=$(az keyvault secret show --name "POSTGRESQL-PetClinic-ConnectionString" --vault-name ${{ env.DEV_KEY_VAULT_NAME }} --query "value")
          export POSTGRES_PASS=$(az keyvault secret show --name "POSTGRESQL-PetClinic-Password" --vault-name ${{ env.DEV_KEY_VAULT_NAME }} --query "value")
          export POSTGRES_USER=$(az keyvault secret show --name "POSTGRESQL-PetClinic-Username" --vault-name ${{ env.DEV_KEY_VAULT_NAME }} --query "value")
          
          # Set env vars for subsequent steps as per https://docs.github.com/en/github-ae@latest/actions/using-workflows/workflow-commands-for-github-actions#setting-an-environment-variable
          echo "POSTGRES_URL=$POSTGRES_URL" >> $GITHUB_ENV
          echo "POSTGRES_PASS=$POSTGRES_PASS" >> $GITHUB_ENV
          echo "POSTGRES_USER=$POSTGRES_USER" >> $GITHUB_ENV
          
      - name: Test env vars
        run: |
          echo "POSTGRES_URL: ${{ env.POSTGRES_URL }}"
          echo "POSTGRES_PASS: ${{ env.POSTGRES_PASS }}"
          echo "POSTGRES_USER: ${{ env.POSTGRES_USER }}"
          
      - name: Deploy artifact to the Dev environment
        uses: Azure/spring-apps-deploy@v1
        with:
          azure-subscription: ${{ env.AZURE_SUBSCRIPTION_ID }}
          action: deploy
          service-name: ${{ env.DEV_APP_SERVICE }}
          app-name: ${{ env.DEV_APP_NAME }}
          use-staging-deployment: false
          package: ${{ github.workspace }}/*.jar
          environment-variables: -POSTGRES_USER="${{ env.POSTGRES_USER }}" -POSTGRES_PASS="${{ env.POSTGRES_PASS }}" -POSTGRES_URL="${{ env.POSTGRES_URL }}" -spring.profiles.active="postgres"
