name: Manual maven steps for ci
on:
    pull_request:
      branches: 
        - main
    workflow_dispatch:

permissions: 
     contents: read
     checks: write 

jobs:
    manual:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: false
            matrix:
                java: [17, 21]
        steps:
          - uses: actions/checkout@v5
          - uses: actions/setup-java@v5
            with:
                distribution: 'temurin'
                java-version: ${{ matrix.java }}
                cache: maven
          - name: build package
            run: mvn ${{ vars.GOAL  }}
          - name: publish test results
            uses: EnricoMi/publish-unit-test-result-action@v2
            with:
              files: |
                **/target/surefire-reports/*.xml
          
          - name: Uploading packaged jar files
            uses: actions/upload-artifact@v4
            with:
              name: spring-petclinic-${{ matrix.java }}jar
              path: '**/target/*.jar'



