name: Java CI with Maven
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  IMAGE_NAME: "test-maven-app"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout SCM
      uses: actions/checkout@v3
    - name: list workspace contents
      run: ls -al ${{ github.workspace }}
    - name: Setup Java and Maven
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '11'
    - name: Check java and mvn version
      run: |
        java -version
        mvn --version
    - name: Run Tests
      run: mvn test
    - name: Package the Application
      run: |
        mvn -B package
        ls -al ${{ github.workspace }}/target
