# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java#apache-maven-with-a-settings-path 
# test

name: Maven Package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: '11'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

#    - name: Build and Push Docker Image
#      uses: mr-smithers-excellent/docker-build-push@v5
#      with:
#        image: eugenedemo1/pet-clinic-maven-test
#        tags: v1, latest
#        registry: docker.io
#        username: ${{ secrets.DOCKER_USERNAME }}
#        password: ${{ secrets.DOCKER_PASSWORD }}

     - name: Setup GCP Service Account
       uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
       with:
         version: 'latest'
         service_account_email: ${{ secrets.GCP_SA_EMAIL }}
         service_account_key: ${{ secrets.GCP_SA_KEY }}
         export_default_credentials: true

     - name: Configure Docker
       run: |
         gcloud auth configure-docker
      
     - name: Build
       run: |
         docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/helloworld:latest .

     - name: Push
       run: |
         docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/helloworld:latest

     - name: Deploy
       run: |
         gcloud run deploy helloworld \
         --region europe-west1 \
         --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/helloworld \
         --platform managed \
         --allow-unauthenticated \
         --project ${{ secrets.GCP_PROJECT_ID }}
