name : github workflow_spring-petclinic
on : 
  pull_request:
    branches:
      - main

jobs:
  runners:
     runs-on: ubuntu-latest
     steps:
       - name: checkout code in repo
         uses: actions/checkout@v6

       - name: java installation
         uses: actions/setup-java@v5
         with:
           distribution: 'temurin' 
           java-version: '21'

       - name: maven repository
         uses: advanced-security/maven-dependency-submission-action@v3
         
       - name: download dependencies
         run: mvn validate
      
       - name: compile code 
         run: mvn compile
        
       - name: test
         run: mvn test
        
       - name: package code
         run: mvn package