name: Version Build

on:
  push:
    branches: [ master2 ]

jobs:
  build-version:

    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: git
      run: |
        # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
        git --version
        git config user.name "jstan-isch"
        git config user.email "stanleyikegwuonu@gmail.com"
        git status
        git tag
        git describe
