name: TF destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        type: choice
        options:
          - dev
          - prod
jobs:
  tf-destroy:
    name: TF destroy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: "us-east-1"

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Select Workflow
        working-directory: terraform
        run: terraform workflow select ${{ inputs.environment }}
      
      - name: Terraform destroy command
        working-directory: terraform
        run: terraform destroy -auto-approve